.row{
    background-color: aqua;
}
.col-12{
    background-color: bisque;
}
.col-8{
    background-color: tomato;
}
.col-4{
    background-color: aqua;
    
}
.col-4 a{
    display: block;
}
.z{
    background-color: lightcoral;
}
.b{
    background-color: lightgrey;
}
.c{
    background-color: lightseagreen;
}
.navbar{
    width: 100%;
}